page-main {
    .main-class {
        height: 30%;
        background-color: #ffffff;
    }
    .main-class img {
        width: 150%;
        height: 90%;
        margin-top: 40px;
    }
    .main-class h5{
        color: white;
        margin-top: 90px;
        text-transform: uppercase;
    }
    .main-class  p{
        color: white;
        text-transform: uppercase;
    }
}   
